<div [formGroup]="itemGroup" class="panel panel-level-2">
    <div class="panel-heading item-header">
        <span class="panel-title cursor-ptr" tabindex="0"
              (keyup.space)="isItemOpen = miscUtils.scrollIntoView($event, isItemOpen)"
              (keyup.enter)="isItemOpen = miscUtils.scrollIntoView($event, isItemOpen)"
              (click)="isItemOpen = miscUtils.scrollIntoView($event, isItemOpen)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isItemOpen, 'glyphicon-plus-sign': !isItemOpen}">
            </i>
            Site Location
        </span>
        <span *ngIf="isLoading" class="pull-right">
            <img src="../../assets/ajax-loader.gif" class="ajax-loader-img">
        </span>
    </div>
    <div class="panel-body item-body" [hidden]="!isItemOpen">
        <div class="margin-bottom15" [hidden]="siteLocation != null">
            No information available for {{getItemName()}}
        </div>
        <div class="margin-bottom15" [hidden]="siteLocation == null">
            <div class="form-group">
                <text-input [form]="itemGroup" controlName="city">City / Town
                </text-input>
                <text-input [form]="itemGroup" controlName="state">State / Province
                </text-input>
                <text-input [form]="itemGroup" controlName="countryCodeISO">Country Code ISO
                </text-input>
                <text-input [form]="itemGroup" controlName="tectonicPlate">Tectonic Plate
                </text-input>

                <div formGroupName="cartesianPosition">
                    <number-input [form]="cartesianPositionForm" controlName="x" [required]="isCartesianPositionRequired">X Coordinate (m)
                    </number-input>
                    <number-input [form]="cartesianPositionForm" controlName="y" [required]="isCartesianPositionRequired">Y Coordinate (m)
                    </number-input>
                    <number-input [form]="cartesianPositionForm" controlName="z" [required]="isCartesianPositionRequired">Z Coordinate (m)
                    </number-input>
                </div>
                <div formGroupName="geodeticPosition">
                    <number-input [form]="geodeticPositionForm" controlName="lat" [required]="isGeodeticPositionRequired">Latitude (dd)
                    </number-input>
                    <number-input [form]="geodeticPositionForm" controlName="lon" [required]="isGeodeticPositionRequired">Longitude (dd)
                    </number-input>
                    <number-input [form]="geodeticPositionForm" controlName="height" [required]="isGeodeticPositionRequired">Ellipsoidal Height (m)
                    </number-input>
                </div>

                <textarea-input [form]="itemGroup" controlName="notes">Notes
                </textarea-input>
            </div>
        </div>
    </div>
</div>
