<div [formGroup]="itemGroup" class="panel panel-level-2">
    <div class="panel-heading item-header">
        <span class="panel-title cursor-ptr" tabindex="0"
            (keyup.space)="isItemOpen = miscUtils.scrollIntoView($event, isItemOpen)"
            (keyup.enter)="isItemOpen = miscUtils.scrollIntoView($event, isItemOpen)"
            (click)="isItemOpen = miscUtils.scrollIntoView($event, isItemOpen)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isItemOpen, 'glyphicon-plus-sign': !isItemOpen}">
            </i>
            Site Identification
        </span>
        <span *ngIf="isLoading" class="pull-right">
            <img src="../../assets/ajax-loader.gif" class="ajax-loader-img">
        </span>
    </div>
    <div class="panel-body item-body" [hidden]="!isItemOpen">
        <div class="margin-bottom15" [hidden]="siteIdentification != null">
            No information available for {{getItemName()}}
        </div>
        <div class="margin-bottom15" [hidden]="siteIdentification == null">
            <div class="form-group">
                <text-input [form]="itemGroup"
                            controlName="fourCharacterID"
                            [readonly]="getFourCharacterIdReadOnlyAttribute()">Four Character Id
                </text-input>
                <text-input [form]="itemGroup" controlName="siteName">Site Name
                </text-input>
                <!-- TODO: These fields exist in the XML but not in the Java bindings.
                <text-input controlName="monumentNumber"
                            [form]="itemGroup">Monument Number</text-input>
                <text-input controlName="receiverNumber"
                            [form]="itemGroup">Receiver Number</text-input> -->
                <text-input [form]="itemGroup" controlName="monumentInscription">Monument Inscription
                </text-input>
                <text-input [form]="itemGroup" controlName="iersDOMESNumber">IERS DOMES Number
                </text-input>
                <text-input [form]="itemGroup" controlName="cdpNumber">CDP Number
                </text-input>
                <text-input [form]="itemGroup" controlName="monumentDescription">Monument Description
                </text-input>
                <number-input [form]="itemGroup" controlName="heightOfTheMonument">Height of the Monument (m)
                </number-input>
                <text-input [form]="itemGroup" controlName="monumentFoundation">Monument Foundation
                </text-input>
                <number-input [form]="itemGroup" controlName="foundationDepth">Foundation Depth (m)
                </number-input>
                <text-input [form]="itemGroup" controlName="markerDescription">Marker Description
                </text-input>
                <datetime-input [form]="itemGroup"
                                controlName="dateInstalled">Date Installed
                </datetime-input>
                <text-input [form]="itemGroup" controlName="geologicCharacteristic">Geologic Characteristic
                </text-input>
                <text-input [form]="itemGroup" controlName="bedrockType">Bedrock Type
                </text-input>
                <text-input [form]="itemGroup" controlName="bedrockCondition">Bedrock Condition
                </text-input>
                <text-input [form]="itemGroup" controlName="fractureSpacing">Fracture Spacing
                </text-input>
                <text-input [form]="itemGroup" controlName="faultZonesNearby">Fault Zones Nearby
                </text-input>
                <textarea-input [form]="itemGroup" controlName="distanceActivity">Distance / Activity
                </textarea-input>
                <textarea-input [form]="itemGroup" controlName="notes">Notes
                </textarea-input>
            </div>
        </div>
    </div>
</div>
