<div [formGroup]="siteAdministrationForm" class="panel panel-level-1">
    <div class="panel-heading group-header">
        <span class="panel-title cursor-ptr" tabindex="0"
              (keyup.space)="isFormOpen = miscUtils.scrollIntoView($event, isFormOpen)"
              (keyup.enter)="isFormOpen = miscUtils.scrollIntoView($event, isFormOpen)"
              (click)="isFormOpen = miscUtils.scrollIntoView($event, isFormOpen)">
            <i class="glyphicon"
               [ngClass]="{'glyphicon-minus-sign': isFormOpen, 'glyphicon-plus-sign': !isFormOpen}"></i>
            Site Administration
        </span>
    </div>
    <div class="panel-body group-body" [hidden]="!isFormOpen">
        <div class="panel panel-level-2">
            <div class="panel-body item-body">
                <div class="margin-bottom15">
                    <div class="form-group">
                        <radiobuttons-input [form]="siteAdministrationForm"
                                            controlName="siteStatus"
                                            [required]="true"
                                            [options]="sitePermissionList">Site Permission</radiobuttons-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
